* {
    border-radius: 0 !important;
}

.plain {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.no-results {
    padding: 1em;
}
